/06/node_modules
/08/node_modules
/Homeworks/08/node_modules
/09/node_modules
/12/node_modules
/ws1/node_modules
/ws2/node_modules
/ws3/node_modules
/ws3/.env
/ws5/node_modules
/ws5/.env
/ws7/.env
/ws7/node_modules